body {
    background-color: white;
    color: #333;
}

body, p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    /*line-height: 18px;*/
}

pre {
    background-color: #eee;
    padding: 10px;
}

a {
    color: #03314B;
}

a:hover {
    color: #75C6F5;
}

div.field, div.actions {
    margin-bottom: 10px;
}

.notice, .alert {
    padding: 0.5em 1em;
    position: absolute;
    left: 40%;
}

.notice{
    background-color: #D0EFA0;
    border: 1px solid green;
    font-size: 1.1em;
}

.alert {
    background-color: #ffa0a6;
    border: 1px solid red;
    font-size: 1.2em;
}

.field_with_errors {
    padding: 0;
    background-color: #FF0000;
    display: table;
}

#error_explanation {
    width: 400px;
    border: 1px solid #084B8A;
    padding: 5px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#error_explanation ul li {
    font-size: 12px;
    list-style: square;
}
