
/*  GENERAL LAYOUTS*/

div.container {
    margin: 0;
    padding: 0;
}

header, footer{
    width: 100%;
    border: 3px solid white;
    position: fixed;
    left: 0;
    color: white;
    z-index: 3;
}

header{
    height: 60px;
    background: url("../images/header.png") repeat-x;
    top: 0;
    padding: 0 25px;
}

#header_title, #session_name{
    display: inline;
    margin: 0;
    position: absolute;
    top: 35%;

}

#session_name{
    font-size: large;
    right: 50px;
}

#principal_menu {
    position: fixed;
    top: 60px;
    background-color: white;
    height: 62px;
    z-index: 2;
}

#principal_menu ul {
    width: 100%;
    padding-left: 1em;
    list-style-type: none;
}

#principal_menu a {
    float: left;
    width: 6em;
    text-decoration: none;
    color: white;
    background-color: #2A8AC2;
    padding: 0.5em 0.6em;
    text-align: center;
    font-size: large;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    -moz-box-shadow:  #a0a0a0 2px 2px 6px;
    margin-right: 4px;
}

#principal_menu a:hover {
    background-color: #0D699F;
}

#principal_menu li {
    display: inline;
}

#secondary_menu{
    position: fixed;
    top: 125px;
    background-color: white;
    z-index: 2;        
}

section {
    /*position: fixed;*/
    /*left: 0;*/
    /*width: 98%;*/
    /*height: 75%;*/
    margin-left:1em;
    /*overflow: auto;*/
    padding-top: 135px;
}

footer {
    bottom: 0;
    background-color: #25578B;
    padding-left: 1em;
}

/*  END GENERAL LAYOUTS*/

#username {
    color: white;
}

#username:hover {
    color: #75C6F5;
}

#sign_out{
    padding: 0 1em 0 1em;
}

table.product td {
    padding-bottom: 10px;
}

.menu_link, .menu_link_hq {
    font-size: 1.1em;
    width: 6em;
    text-decoration: none;
    color: black;
    background-color: #E8E9F2;
    padding: 0.5em 0.6em;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.menu_link_hq {
    background-color: #D0EFA0;
}

.menu_link_hq:hover{
    color:#3b7735;
}

div.left {
    float: left;
    width: 300px;
    margin: 0;
    padding: 1em;
    height: 300px;
}

.search-table, .showing {
    float: right;
    padding-right: 2em;
}

.dataTablesId {
    width: 100%;
    text-align: center;
}

.color_selector {
    border: solid 1px black;
}

.pagination span {
    padding: 0 3px 0 3px;
}

/* Sales table */

#productsTable {
    width: 99%;
    border-top: 1px solid #CCC;
    border-left: 1px solid #CCC;
}

#productsTable th {
    background: url(/images/report_table_header_back.jpg);
    color: #FFF;
    font-size: 12px;
    text-transform: uppercase;
    height: 25px;
    padding: 0 2px 0 2px;
    border-right: 1px solid #FFF;
}

#productsTable td {
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    padding: 5px;
    color: #222;
    text-align: center;
    max-width: 30px;
}

#productsTable td input {
    text-align: center;
    width: 80%;
}

#productsTable tr.over td, #productsTable tr:hover td {
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    padding: 5px;
    color: #222;
    text-align: center;
    background: #bcd4ec;
}

.float_left {
    float: left;
    margin-right: 10em
}

pre {
    font-size: 1em;
}

.report_title{
    margin-top: 2em;
}

.center_td{
    text-align:center;
}

table.users{
    border-left: 1px solid #a0a0a0;
    border-top: 1px solid #a0a0a0;
}

table.users *{
    padding: 5px 10px 5px 10px;
    border-right: 1px solid #a0a0a0;
    border-bottom: 1px solid #a0a0a0;
}

.form_class{
    background-color: #e8e9f2;
    padding: 1em 2em 0.4em 2em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow:  #a0a0a0 2px 2px 6px;
    display: table;
}

.form_class label{
    font-size:medium;
}

input[type='submit']{
    font-size: medium;
    padding: 0.5em 1em;
}