
/*  GENERAL LAYOUTS*/

div.container {
    width: 100%;
    margin: 0;
    border: 1px solid #3787B0;
    line-height: 150%;
}

header, footer {
    color: white;
    position: fixed;
    width: 99.5%
}

header {
    top: 0;
    left: 0;
    margin: 2px 0.25% 0 0.25%;
}

header h1 {
    padding-left: 1em;
}

section {
    padding: 1% 1% 1% 1%;
    position: fixed;
    top: 18%;
    left: 0;
    width: 98%;
    height: 75%;
    margin-left:1em;
}

footer {
    bottom: 0;
    left: 0;
    margin: 0 0.25% 2px 0.25%;
    background-color: #25578B;
}

footer label {
    padding-left: 1em;
}

#header_table {
    width: 100%;
    background: url("../images/header.png") repeat-x;
    height: 60px;
}
/*  END GENERAL LAYOUTS*/



#username {
    color: white;
    text-decoration: none;
}

#username:hover {
    color: #75C6F5;
}

#sign_out{
    padding: 0 1em 0 1em;
}

table.product td {
    padding-bottom: 10px;
}

#session_name {
    text-align: right;
    font-size: large;
}

#principal-menu {
    background-color: white;
}

#principal-menu ul {
    float: left;
    width: 100%;
    padding-left: 1em;
    list-style-type: none;

}

#principal-menu a {
    float: left;
    width: 6em;
    text-decoration: none;
    color: white;
    background-color: #2A8AC2;
    padding: 0.5em 0.6em;
    text-align: center;
    font-size: large;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    -moz-box-shadow:  #a0a0a0 2px 2px 6px;
    margin-right: 4px;
}

#principal-menu a:hover {
    background-color: #0D699F;
}

#principal-menu li {
    display: inline;
}

.menu_link, .menu_link_hq {
    font-size: 1.1em;
    width: 6em;
    text-decoration: none;
    color: black;
    background-color: #E8E9F2;
    padding: 0.5em 0.6em;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.menu_link_hq {
    background-color: #D0EFA0;
}

.menu_link_hq:hover{
    color:#3b7735;
}

div.left {
    float: left;
    width: 300px;
    margin: 0;
    padding: 1em;
    height: 300px;
}

.search-table, .showing {
    float: right;
    padding-right: 2em;
}

.dataTablesId {
    width: 100%;
    text-align: center;
}

.color_selector {
    border: solid 1px black;
}

.pagination span {
    padding: 0 3px 0 3px;
}

/* Sales table */

#productsTable {
    width: 99%;
    border-top: 1px solid #CCC;
    border-left: 1px solid #CCC;
    margin: 2em 0;
}

#productsTable th {
    background: url(/images/report_table_header_back.jpg);
    color: #FFF;
    font-size: 10px;
    text-transform: uppercase;
    height: 25px;
    padding: 0 2px;
    border-right: 1px solid #FFF;
}

#productsTable td {
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    padding: 5px 0;
    color: #222;
    text-align: center;
    max-width: 30px;
}

#productsTable td input {
    text-align: center;
}

#productsTable tr.over td, #productsTable tr:hover td {
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    padding: 5px;
    color: #222;
    text-align: center;
    background: #bcd4ec;
}

.float_left {
    float: left;
    margin-right: 10em
}

pre {
    font-size: 1em;
}

.report_title{
    margin-top: 2em;
}

.center_td{
    text-align:center;
}

table.users{
    border-left: 1px solid #a0a0a0;
    border-top: 1px solid #a0a0a0;
}

table.users *{
    padding: 5px 10px 5px 10px;
    border-right: 1px solid #a0a0a0;
    border-bottom: 1px solid #a0a0a0;
}

.form_class{
    background-color: #e8e9f2;
    padding: 1em 2em 0.4em 2em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow:  #a0a0a0 2px 2px 6px;
    display: table;
}

.form_class label{
    font-size:medium;
}

input[type='submit']{
    font-size: medium;
    padding: 0.4em 1em;
}
table#invoice_subtitle{
  text-align:left;
}
table#invoice_subtitle td.paddable{
    padding-right: 2em;
}
table#totals th{
    text-align:left;
}
table#totals td{
    text-align:right;
}