<% if p.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(p.errors.count, "error") %> no permite guardar este articulo:</h2>
      <ul>
        <% p.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>